body {
  font-family: Arial;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #f5f5f5;
}

h1 {
  text-align: center;
}

input,
button,
select {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.card {
  background: white;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
}

.small {
  font-size: 14px;
  color: gray;
}

.expenses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background: #eee;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.inline-actions {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.small-btn {
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
}

#currentMonthYear {
  text-align: center;
}